{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'popping', san-serif;
    scroll-behavior:smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
header
{
    position: static;
    top:0;
    left: 0;
    width: 100;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 2cm;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display:flex;
    justify-content:center;
    align-items: center;
}
header ul li 
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(249, 249, 249) ;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #ffffff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0 ;
    width: 100%;
    height: 100px;
    background: linear-gradient( to top , #1c0522, transparent );
    z-index: 1000;
}


section img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    right: -350px;
    color: #ffffff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index:9 ;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ffffff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background-color: #1c0522;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: white;
}
.sec p
{
    font-size: 1em;
    color: white;
}


.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/* Estilo del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#caption {
    color: #ccc;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}



footer{
    background-color: #272253;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
}

footer .container{
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}